<!doctype html>
<html class="default no-js toggle-inherited">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#ifCond project.name '==' "@awayjs"}}
        <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
        <script src="{{relativeURL "assets/js/modernizr.js"}}"></script>
    {{else}}
        <link rel="stylesheet" href="{{relativeURL "../assets/css/main.css"}}">
        <script src="{{relativeURL "../assets/js/modernizr.js"}}"></script>
    {{/ifCond}}
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:100" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

{{> header}}

<div class="container container-main">

    <!-- account spacing for having no title, which happens in non leafs -->
    {{#if model.kindString}}
    {{else}}
        <br>
        <br>
        <br>
        <br>
    {{/if}}

    <div class="row">
        <div class="col-8 col-content">
            {{{contents}}}
        </div>
        <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
            <nav class="tsd-navigation secondary menu-sticky">
                <ul class="before-current">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>
    </div>
</div>

{{> footer}}

<div class="overlay"></div>
{{#ifCond project.name '==' "@awayjs"}}
    <script src="{{relativeURL "assets/js/main.js"}}"></script>
{{else}}
    <script src="{{relativeURL "../assets/js/main.js"}}"></script>
{{/ifCond}}
<script>if (location.protocol == 'file:') document.write('<script src="{{relativeURL "assets/js/search.js"}}"><' + '/script>');</script>

{{> analytics}}

</body>
</html>